<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>文章</title>
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mycss.css">
    <script type="text/javascript" src="/js/myjs.js"></script>
</head>
<body style="background-color: bisque">
        <!--导航栏-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">only博客</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/article.html">文章</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关注</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">我的</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row a1">
                <div class="col-md-3">
                    <div class="row a2">
                        <a href="/user/text.html" class="btn btn-danger ">编辑新文章</a>
                    </div>
                    <div class="row a2">
                        <div style="background-color: #fff;height:auto;width: 100%;">
                            <label class="alert alert-warning" style="width: 100%;color: #cccccc">个人分类</label>
                            <div id="petype"></div>
                        </div>
                    </div>
                    <div class="row a2">
                        <div style="background: #fff;height: 200px;width: 100%;">
                            <label class="alert alert-warning" style="width: 100%;color: #cccccc"> 热门文章</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 a3" id="list" >
                    <a name="a1"></a>
                </div>
            </div>
        </div>

        <script>
            $(function(){
                //加载文章列表
                allArticle(1);
                //加载个人分类
                put_peopletype();
            });
            //点击个人分类内某一内容，刷新文章列表
            $(document).on("click",".aforp",function () {
                var read=$(this).attr("read");
                upload_aticle_by_peopletype(read);
            });
        </script>
</body>
</html>